@font-face {
  font-family:  'Urbanist';
  src: url('src/app/fontes/Urbanist-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-family: 'Urbanist';
  src: url('src/app/fontes/Urbanist-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Urbanist';
}
.cadastro-moradia-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  
}

.cadastro-moradia-container {
  width: 50%;
  max-width: 525px;
  padding: 20px;
  border: none;
  border-radius: 20px;
  font-family: 'Urbanist';
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  z-index: 1;
  margin-left: 400px;
  color: #545454;
  background-color: #ebebeb;
}

h2 {
  font-family: 'Urbanist';
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  color: #C52054;
  text-transform: uppercase;
  margin-bottom: 5px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="time"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffffff; 
  font-family: 'Urbanist';
  font-weight: 300;
  font-size: 16px;
  color: #545454;
  outline: none;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

input[type="date"]:hover,
input[type="time"]:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
  background-color: #f5f5f5; 
  border-color: #C52054; 
}

input[type="date"]:focus,
input[type="time"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-color: #C52054; 
  background-color: #ffffff; 
}

input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(40%);
}

.warning {
  background-color: #F40202;
  color: #eaeaea;
}
.button-container{
  display: flex;
  justify-content: center;
  margin-left: 70px;
  max-width: 400px;
}

button {
  background-color: #C52054;
  color: rgb(255, 255, 255);
  padding: 5px 87px;
  border: 1px solid #3f3f3f00;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Urbanist';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 0%;
  letter-spacing: 0em;
  text-align: left;
}
.cadastro-flex-container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  justify-content: center;
}

.upload-descricao-contato {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espaço entre os itens */
  max-width: 300px;
}

.upload-container {
  text-align: center;
}

.upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #aaa;
  padding: 20px;
  width: 100%;
  height: 250px;
  cursor: pointer;
}

.preview-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.descricao, .contato {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px; 
  
}

.cadastro-moradia-container {
  flex: 2;
  max-width: 500px;
}
.endereco-lado {
  display: flex;
  gap: 10px; /* Ajuste do espaçamento entre os campos */
  align-items: center;
}

.input-small {
  display: flex;
  flex-direction: column;
  width: 50%; /* Cada input ocupa metade do espaço disponível */
}

.input-small label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.input-small input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
