<div class="cadastro-moradia-bg">
  <app-navbar></app-navbar>

  <!-- Formulário -->
  <div class="cadastro-moradia-container">
    <label for="titulo">Título</label>
    <input [(ngModel)]="titulo" type="text" id="titulo" name="titulo" required />

    <label for="preco">Preço</label>
    <input [(ngModel)]="preco" type="text" id="preco" name="preco" required />
    
    <label for="contato">Telefone para contato</label>
    <input [(ngModel)]="contato" type="text" id="contato" name="contato" required />

    <!-- Endereço -->
    <label for="endereco">Rua</label>
    <input [(ngModel)]="endereco.rua" type="text" id="endereco" name="endereco" required />

    <div class="endereco-lado">
      <div class="input-small">
        <label for="numero">N°</label>
        <input [(ngModel)]="endereco.numero" type="text" id="numero" name="numero" required />
      </div>

      <div class="input-small">
        <label for="cep">CEP</label>
        <input [(ngModel)]="endereco.cep" type="text" id="cep" name="cep" required />
      </div>
    </div>

    <label for="bairro">Bairro</label>
    <input [(ngModel)]="endereco.bairro" type="text" id="bairro" name="bairro" required />

    <label for="cidade">Cidade</label>
    <input [(ngModel)]="endereco.cidade" type="text" id="cidade" name="cidade" required />

    <label for="estado">Estado</label>
    <input [(ngModel)]="endereco.estado" type="text" id="estado" name="estado" required />

    <div class="button-container">
      <button (click)="cadastrarmoradia()">Cadastrar</button>
      <button (click)="cancelar()" class="warning">Cancelar</button>
    </div>
  </div>
</div>
