<div class="minha-moradiabg">
    <app-navbar></app-navbar>

    <div class="moradias-container">
        <h2>Moradias Cadastradas</h2>
        <div class="moradia-card" *ngFor="let moradia of moradias">
          <div class="moradia-detalhe">
            <div class="moradias-name">Nome: {{ moradia.titulo }}</div>
            <div class="moradias-descricao">Descrição: {{ moradia.descricao }}</div>
            <div class="moradias-preco">Preço: {{ moradia.preco }}</div>
            <div class="moradias-bairro">Bairro: {{ moradia.endereco?.bairro }}</div>
            <div class="moradias-cep">CEP: {{ moradia.endereco?.cep }}</div>
            <div class="moradias-rua">Rua: {{ moradia.endereco?.rua }}</div>
            <div class="moradias-numero">Número: {{ moradia.endereco?.numero }}</div>
          </div>
        </div>
      </div>
      
</div>
