@font-face {
  font-family:  'Urbanist';
  src: url('src/app/fontes/Urbanist-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-family: 'Urbanist';
  src: url('src/app/fontes/Urbanist-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Urbanist';
}

.moradia-grid, .user-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 60px; 
  justify-content: center;
  text-align: center;
  color: #C52054;  
  margin-left: 10px;
  padding-left: 10px;
  font-family: 'Urbanist';
  letter-spacing: 0.1em;
  line-height: 20px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.cadastrar-btn {
  margin-top: 50px;
  padding: 10px 40px;
  border-radius: 15px;
  background-color: #C52054;  
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.home-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
 background-color: #f0f0eb;
}

.moradia-card {
  background-color: #D3E8D8;  
  padding: 50px 70px;
}

a {
  text-decoration: none;
  color: #ffffff;  
  font-weight: bold;
}
.moradia-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; 
  padding: 20px; 
}

.moradia-card {
  background: #C5205443;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  text-align: justify;
  /*background: url('src\assets\img\book.jpg');*/
  background-size: cover;
  background-position: center;
  background-position: 80%;
  background-repeat: no-repeat;
  background-color: #C5205443;
}

.moradias-name {
  margin-bottom: 10px;
  font-size: 14px;
  color:#FDF9F6; 
  font-family: 'Urbanist';
  font-weight: 800;
}

/* Container da busca */
.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: white;
  max-width: 800px;
  margin-left: 20%;
  border-radius: 20px;
}

/* Caixa de filtro (estrutura principal) */
.filter-box {
  display: flex;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #FFA1DE;
  gap: 15px;
  max-width: 800px;
  width: 100%;
  
}

/* Cada item do filtro */
.filter-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.filter-item label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: center;
}

.filter-item select {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #FFA1DE;
  background: #f9f9f9;
  cursor: pointer;
  
}

/* Botão de buscar */
.search-button {
  background: #d81b60;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.search-button:hover {
  background: #b01750;
}
