
<div class="home-bg">
    <app-navbar></app-navbar>
  <div>
  <app-search (searchEvent)="performSearch($event)"></app-search>
  </div>
  <br>
  <div class="search-container">
    <div class="filter-box">
      <div class="filter-item">
        <label>Localização</label>
        <select>
          <option selected>Selecione</option>
          <option selected>Crateús - CE</option>
          <option selected>Fortaleza - CE</option>
          <option selected>Sobral - CE</option>
          <option selected>Quixadá - CE</option>
        </select>
      </div>
  
      <div class="filter-item">
        <label>Preço</label>
        <select>
          <option selected>R$100,00 - R$200,00</option>
          <option selected>R$200,00 - R$300,00</option>
          <option selected>R$300,00 - R$400,00</option>
          <option selected>R$400,00 - R$500,00</option>
          <option selected>Acima de R$500 </option>
        </select>
      </div>
  
      <div class="filter-item">
        <label>Tipo</label>
        <select>
          <option selected>Apartamento</option>
          <option selected>Casa</option>
          <option selected>Quitnet</option>
        </select>
      </div>
      
    </div>
    
  </div>
  <div class="moradia-grid">

    <div class="moradia-card" *ngFor="let moradia of moradiasFiltrados.length ? moradiasFiltrados : moradias">
      <div class="moradia-detalhe">
        <div class="moradias-name">{{ moradia.titulo }}</div>
        <div class="moradias-descricao">{{ moradia.descricao }}</div>
        <div class="moradias-bairro">Bairro: {{ moradia.endereco?.bairro }}</div> 
        <div class="moradias-cep">Cep: {{ moradia.endereco?.cep }}</div>
        <div class="moradias-rua">Rua: {{ moradia.endereco?.rua }}</div> 
        <div class="moradias-cidade">Cidade: {{ moradia.endereco?.cidade }}</div> 
        <div class="moradias-numero">Numero: {{ moradia.endereco?.numero }}</div> 
        <div class="moradias-preco">R${{ moradia.preco }} /por mês</div>
        <div class="moradias-contato"> Me ligue!: {{ moradia.contato }}</div>
      </div>
    </div>
    </div>
  
  
</div>
