@font-face {
  font-family:  'Urbanist';
  src: url('src/app/fontes/Urbanist-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-family: 'Urbanist';
  src: url('src/app/fontes/Urbanist-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  text-decoration: none;
  font-family: 'Urbanist';
  margin: 0;
  position: fixed;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.055);
  color: #ffffff;
  padding: 50px;
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  background-color: #92909063;
  text-decoration: none;
margin: 0;
}

.nav-list, button, span{
  list-style: none;
  display: flex;
  padding: 0;
  margin-left: auto; 
  text-decoration: none;
}

.nav-item,button, span {
  margin: 0 10px;
  text-decoration: none;
}


span{
  margin-right: 1px;
}

img{
  margin-left: 10px;
  margin-top: 10px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0px 10px; 
  background-color: #ffffff;
  margin: 0px;
}

.navbar img{
  width: 100px
}



.navbar h2 {
  color: #C52054;
  margin: 0;
  font-family: 'Urbanist';
}


.nav-list {
  list-style: none;  
  padding: 0;  
  margin: 0; 
  display: flex;  
}

.nav-item {
  margin-right: 20px;  
}
 
.nav-item a {
  text-decoration: none;  
  color: #C52054;    
  letter-spacing: 3px;
  font-size: 16px;  
}

 
.nav-item a:hover {
  color: #0d0d0d;  
}


button {
  background-color: #6DC4E7; 
  color: white;
  padding: 10px 50px; 
  border: none; 
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Urbanist';
  font-weight: 500;
  font-size: 14px;
}

.nav-item a , span{ 
  text-decoration: none;
  color: #000000;
  font-family: 'Urbanist';
  font-size: 19px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  letter-spacing: 0.1em; background-color: #00000000;
  margin: 0;
  
}

a {
  text-decoration: none;  
  color: white; 
}