<div class="index">
    <app-navbar></app-navbar>
    <div class="index-bg">
        <div class="index-div">
            <p>BEM-VINDOS AO</p>
            <h1>ALUGIRLS</h1>
            <h4>Uma plataforma dedicada a ajudar alunas a encontrar moradia para alugar de maneira prática e segura.</h4>
            <button > <a href="http://localhost:4200/login">Login</a></button>
        </div>
    </div>
    <div class="background-img">
        <img src="/assets/img/casainicio.png" alt="ALUGIRLS" />
    </div>
</div>
