<div class="login-bg">
   <div class="background-img">
    <img src="/assets/img/agency.png" alt="ALUGIRLS" />
   </div>
    <div class="login-container">
      <div class="login-conteiner">
        <h2>CADASTRE-SE</h2>
  
        <div class="input-wrapper">
          <div class="text-wrapper">
            <label for="nome">Nome</label>
            <input
              [(ngModel)]="nome"
              type="nome"
              id="nome"
              placeholder="Digite seu nome"
              required
            />

            <label for="email">Email</label>
            <input
              [(ngModel)]="email"
              type="email"
              id="email"
              placeholder="Digite seu email"
              required
            />
  
            <label for="password">Senha</label>
            <input
              [(ngModel)]="password"
              type="password"
              id="password"
              placeholder="Digite sua senha"
              required
            />
          </div>
  <p>
   Ao se inscrever você concorda com nossos Termos, a Politica de Privacidade e o Uso de Cookies.
  </p>
          <button (click)="register()">Criar conta</button>
  
          <p class="paragrafo">Ou continue com</p>
          <div class="social-login">
            <img src="/assets/img/Google.png" alt="Google" />
            <img src="/assets/img/Facebook.png" alt="Facebook" />
          </div>
          <div class="senha">
            <a href="http://localhost:4200/NovaSenha">Esqueceu a senha?</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  